.CAtegoriess {
  width:86%;
  height:30vh;
  font-family: arial, sans-serif;
  border-collapse: collapse;
 margin: auto;
 margin-bottom:5rem;
 margin-top:1.5rem;
 
  }
  
  td {
    border: 1px solid #000000;
    text-align: left;
    padding: 6px;
    font-size:20px;
    
  }